{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h3> Our Services </h3>
            <hr>

                <table class="table table-responsive flex-fill">
                    <tr>
                        <th>Service</th>
                        <th></th>
                    </tr>
                    {% for service in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'service-detail' service.id %}">{{service.service}}</a>
                            </td>
                            <td>
                                <a title="Edit" class="btn btn-sm btn-outline-dark" href="{% url 'service-delete' service.id %}">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a title="Delete" class="btn btn-sm btn-outline-danger" href="{% url 'service-delete' service.id %}">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                                <a title="Entities" class="btn btn-sm btn-outline-info" href="{% url 'service-delete' service.id %}">
                                    <i class="bi bi-diagram-3-fill"></i>
                                </a>
                                <a title="Employees" class="btn btn-sm btn-outline-warning" href="{% url 'service-delete' service.id %}">
                                    <i class="bi bi-people-fill"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </table>

                <br>

                <a class="btn btn-sm btn-outline-primary" href="{% url 'service-create' %}">
                    <i class="bi bi-plus-square-fill m-1"></i> 
                    New Service
                </a>

</div>
</section>

{% endblock %}
