{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> Task Manager </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a href="{% url 'app-page' %}" class="navbar-brand" >Tasks Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a href="{% url 'app-page' %}" class="nav-link active" aria-current="page" >Dashbroard</a></li>
                        <li class="nav-item"><a class="nav-link" >Statistics</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Projects</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a href="{% url 'project-list' %}" class="dropdown-item" >All Projects</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item text-warning" href="{% url 'project-not-started' %}">Projects Not Yet Started</a></li>
                                <li><a class="dropdown-item text-primary" href="{% url 'project-ongoing' %}">On Going Projects</a></li>
                                <li><a class="dropdown-item text-success" href="{% url 'project-finished' %}">Finished Projects</a></li>
                                <li><a href="{% url 'project-create' %}" class="dropdown-item" >New Project</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">DRI</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a href="{% url 'employee-list' %}" class="dropdown-item" >Employees</a></li>
                                <li><a href="{% url 'function-list' %}" class="dropdown-item" >Employee Functions</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'service-list' %}">Services</a></li>
                                <li><a class="dropdown-item" href="{% url 'entity-type-list' %}">Entity Types</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                            {% if not tag %}
                                <button class="btn btn-outline-dark" type="submit">
                                    <i class="bi-circle-fill me-1"></i>
                                    Projects
                                        <span class="badge bg-dark text-white ms-1 rounded-pill">{{ object_list|length }}</span>
                                </button>
                            {% endif %}
                            {% if tag == 'not-started' %}
                            <button class="btn btn-outline-warning" type="submit">
                                <i class="bi-circle-fill me-1"></i>
                                Projects
                                    <span class="badge bg-warning text-white ms-1 rounded-pill">{{ object_list|length }}</span>
                            </button>
                            {% endif %}

                            {% if tag == 'ongoing' %}
                            <button class="btn btn-outline-primary" type="submit">
                                <i class="bi-circle-fill me-1"></i>
                                Projects
                                    <span class="badge bg-primary text-white ms-1 rounded-pill">{{ object_list|length }}</span>
                            </button>
                            {% endif %}

                            {% if tag == 'finished' %}
                            <button class="btn btn-outline-success" type="submit">
                                <i class="bi-circle-fill me-1"></i>
                                Projects
                                    <span class="badge bg-success text-white ms-1 rounded-pill">{{ object_list|length }}</span>
                            </button>
                            {% endif %}
                            
                        
                    </form>
                </div>
            </div>
        </nav>