{% extends '_base.html' %}

{% load static %}

{% block content %}
    <!-- Section-->
    <section class="py-5">
        <div class="text-center">
            <a href="{% url 'project-create' %}" class="btn btn-outline-dark" >Nouveau Project</a>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="btn btn-outline-primary btn-sm" >First</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary btn-sm">Previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary btn-sm" >Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary btn-sm" >Last</a>
                    {% endif %}
                </span>
            </div>
            <hr>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% if object_list|length == 0 %}
                    <h3> There is no projects </h3>
                {% else %}
                    {% for project in object_list %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Project Situation -->
                                {% if project.ongoing == True %}
                                    <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Started</div>
                                {% else %}
                                    <div class="badge bg-warning text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Not yet started</div>
                                {% endif %}
                                {% if project.ongoing == True and project.finished == True %}
                                    <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Finished</div>
                                {% endif %}
                                
                                <img class="card-img-top mt-2" src="{% static 'assets/logo.png' %}" alt="..." />
                                
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">
                                            <a class="text-decoration-none" href="{% url 'project-detail' project.id %}">{{project.title|title}}</a>
                                        </h5>
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star"></div>
                                        </div>
                                        {{project.phases_nbr}} Phases
                                        <hr>
                                        <div class="d-flex justify-content-center small text-info mb-2">
                                            <table class="table-info">
                                                <tr>
                                                    <td class="fw-bold" > Created At : </td><td> {{project.created_at|date}} </td>
                                                </tr>
                                                    {% if project.ongoing == True %}
                                                    <tr>
                                                        <tr><td colspan="2"><hr></td></tr>
                                                        <td class="fw-bold"> Started At : </td><td> {{project.started_at|date}} </td>
                                                    </tr>
                                                    {% endif %}

                                                    {% if project.ongoing == True and project.finished == True %}
                                                    <tr>
                                                        <tr><td colspan="2"><hr></td></tr>
                                                        <td class="fw-bold" >Finished At : </td><td> {{project.finished_at|date}} </td>
                                                    </tr>
                                                    {% endif %}
                                                </tr>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {% if not project.finished %}
                                <!-- Project actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a href="{% url 'project-delete' project.id %}" class="btn btn-outline-danger mt-auto" >Delete</a></div>
                                </div>
                                {% else %}
                                <!-- Project actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a href="{% url 'detail-complete-project' project.id %}" class="btn btn-outline-success mt-auto" title="Finished Details" >
                                            <i class="bi bi-hand-thumbs-up-fill"></i>
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}    
            </div>
        </div>
    </section>
{% endblock %}

